
.contacts {
	background-color: $background-color;
	color: $text-color;
	padding-top: 120px;
	padding-bottom: 90px;
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding: 0 50px;
	}
	&__img{
		&>img{
			width: 400px;
		}
	}
	&__info{
		display: flex;
		flex-direction: column;
		gap: 20px;
		&>.title_fs14{
			letter-spacing: 1px;
		}
	}
	&__icons{
		width: 28%;
		display: flex;
		justify-content: space-between;
		svg {
			path{
				fill: white;
			}
			&:hover{
					path{
						fill: $main-color;
					}
			}
		}
	}
	&__headline{
		padding-top: 6px;
		& > .headline__divider{
			margin: 0;
			margin-top: 10px;
		}
		& > .headline__title{
			margin-left: 50px;
		}
		& > .headline__subtitle{
			text-align: left;
		}
	}
	&__form {
		&-name {
		}
		&-email{
		}
		&-message{

		}
	}
}

