.title {
	font-weight: bold;
	font-style: 36px;
	line-height: 60px;

	&_fs48 {
		font-size: 48px;
	}

	&_fs36{
		font-size: 36px;
	}
	&_fs20{
		line-height: 30px;
	}

	&_fs16 {
		padding-left: 10px;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.5px;
		position: relative;
		@include before_circle;
		z-index: 2;
	}
	&_fs14 {
		font-style: 14px;
	}

}