.title {
	font-weight: bold;
	font-size: 36px;
	line-height: 60px;

	&_fs48 {
		font-size: 48px;
	}

	&_fs36{
		font-size: 36px;
	}
	&_fs20{
		line-height: 30px;
	}

	&_fs16 {
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 0.5px;
		position: relative;
		@include before_circle;
		z-index: 2;
		padding: 1px 0 0 17px;
			
	}
	&_fs14 {
		font-size: 16px;
		line-height: 20px;
	}

}